<br>
<div class="col-12">
  <!-- issue is at col-lg-4 -->
  <div class="row mx-auto">

    <div class="card col-lg-6 col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentbooking">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-bars fa-4x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Bookings</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>

    </div>

    <div class="card col-lg-6 col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentpandits">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-user fa-5x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Pandits</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>

    </div>

    <div class="card col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentprofile">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-scribd fa-4x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Services</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>

    </div>
  </div>
  <br><br>
  <div class="row mx-auto">

    <div class="card col-lg-6 col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentbooking">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-bars fa-4x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Bookings</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>
    </div>

    <div class="card col-lg-6 col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentpandits">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-user fa-5x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Pandits</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>
    </div>

    <div class="card col-xl-3 col-md-12 col-sm-12 col-xs-12 mx-auto ss">
      <a routerLink="/agentprofile">
        <div class="row">
          <div style="background-color: rgb(255, 94, 0)">
            <div class="col-4 my-4"><i class="icon fa fa-scribd fa-4x"></i></div>
          </div>
          <div class="col-8">
            <br>
            <div class="col-12 mx-auto">
              <h2>Services</h2>
            </div>
            <div class="col-12 mx-auto"><span class="count">20</span></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>