  img {
        max-width: 100%;
      }    
      .card {
        /* height: 80px; */
        border-radius: 5px;
        color: #aaa;

      }
      
      h1 {
        color:black;
        text-shadow: 1px 1px black, 0 0 15px black, 0 0 5px rgba(0, 0, 139, 0.829);
        transition-delay: 0.5s;
        font-family: 'Syntax';
      }
      h2 {
        color: black;
        font-family: 'Syntax';
        font-weight: 550;
        text-transform: uppercase;
      }
  
      
  /* Bar chart */
  .tick text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #4C5554;
    stroke-width: 1;
}

.x.axis .tick line {
    display: none
}

.domain {
    display: block !important;
    stroke: #4C5554 !important;
    stroke-width: 2 !important;
}
.legend {
    font-size: 12px;
    font-family: 'Syntax';

}
.count{
  font-family: 'Syntax';
  font-size: 5ex;  color:black;
  font-weight:555;
  text-transform: uppercase;

}
.abc:hover{
  color:white;
  transition: 0.35s ease-in;
}
.abc{
  color:black;
  transition: 0.35s ease-in;
}
/* .col-lg-4{
  max-height:60px;
} */
i{
  color:white;
}
a:hover{
  text-decoration: none ;
}
.ss:hover {
  transition: box-shadow .2s;
  box-shadow: 0 0 20px rgba(33,33,33,.8); 

}