*{
  font-size:16px;
}
th {
  font-family: 'Syntax';
  line-height: 1.5;
  font-size:18px;
  font-weight: 550;
  text-align: inherit;
  padding:0.75rem;
  word-wrap: break-word;
  white-space: nowrap;
  text-transform: uppercase;



}
td {
font-family: 'Charlotte Sans';
word-spacing: 2px;
line-clamp: inherit;
font-size: 17px;
word-wrap: break-word;
white-space: nowrap;
line-height: 1.5;
text-align: inherit;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  font-family: "sans-serif";

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "sans-serif";

}
agm-map {
  height: 200px;
  width:300px;
}

.form-control:focus {
  box-shadow: none;
  outline:white;
}


.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  outline-color: black;
  font-family: "sans-serif";

}

button{
background-color: orangered;
opacity:0.9;
color:white;
font-size: 16px;
font-family: "sans-serif";


}
button:hover{
color:white;
font-size: 16px;
font-family: "sans-serif";

}
select{
  width:230px;
  height:30px;
  outline:none;
  font-size: 18px;
  padding:2px;
  font-family: "sans-serif";
  z-index: 1;
}
