.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius:35px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  li{
     list-style-type: none;
     align-content: 'center';
     margin-top: 10px;;
  }
.card {
  height: 120px;
  border-radius: 6px;
  color: white;
  width:800px;
}
.festival-date{
font-size:30px;
align-content: center;
align-items: center;
font-weight: 700;
  }
.festival-day{
  font-size:25px;
}
.festival-data{
  font-family:'Verdana,Geneva,Arial,"Comic Sans MS","Book Antiqua",sans-serif';
  font-size:16px;
  color:black;
}
h2{
 font-family:'Verdana,Geneva,Arial,"Comic Sans MS","Book Antiqua",sans-serif';
}
a{
  text-decoration: none;
}
.offer-code{
  word-break: break-word;
  font-family: 'Montserrat';
  font-size:18px;
  font-weight: 700;
  color:black;
  letter-spacing: 1px;;
}
.box {
  border-radius: 6px;
  color: white;
}
.shop-box {
  border-radius: 6px;
  color: white;
}
body{
  color:black;
  font-size: 18px;
  font-family: "Amazon Ember",Arial,sans-serif;
}
.price-drop{
  color:red;
  font-size: 20px;
  font-family: "Amazon Ember",Arial,sans-serif;
  word-spacing: -5px;
}
.blur{
  -webkit-trasform: translate(60%, -60%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:-1;
  color:black;
  border: 3px solid orangered;
  font-weight: 600;
  font-size:18px;
  // -webkit-filter:blur(10px);
  // -moz-filter: blur(10px);
}