<body>
    <div class="col-12" style="max-height:550px;margin-top:10px;">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel"
            data-interval="3000">
            <div class="row">
                <div class="carousel-inner my-auto mx-auto col-11">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-responsive img-fluid" style="max-height:550px;opacity: 10%;"
                            src="./assets/corsal33.png" alt="First slide">
                    </div>

                </div>
                <div class="hidden-xs hidden-sm my-auto mx-auto col-1" style="margin-top:-200px;">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
                <mat-tab-group>
                    <mat-tab label="festival" style="height:200px;overflow: scroll;">
                        <ng-template mat-tab-label #ngt2>
                            <span>&nbsp;Upcoming Festivals</span>
                        </ng-template>
                        <div>
                            <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="row">

                                    <div class="col-3" style="height:120px;background-color: rgb(255, 94, 0)">
                                        <div class="festival-date col-auto my-auto mx-auto text-center">01</div>
                                        <div class="festival-day col-12 my-auto text-center">Sunday </div>
                                    </div>
                                    <div class="col-9">
                                        <br>
                                        <a routerLink="/agentprofile">

                                            <div class="mx-auto">
                                                <h2>Devuthana Ekadashi</h2>
                                            </div>
                                        </a>
                                        <a routerLink="/agentprofile">

                                            <div class="col-12"><span class="festival-data">Devotthan Ekadashi, is the
                                                    11th
                                                    lunar day (ekadashi) in the bright fortnight (Shukla Paksha) of the
                                                    Hindu
                                                    month of Kartik.</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="row">

                                    <div class="col-3" style="height:120px;background-color: rgb(255, 94, 0)">
                                        <div class="festival-date col-6 my-auto mx-auto text-center">09</div>
                                        <div class="festival-day col-12 my-auto text-center">Monday </div>
                                    </div>
                                    <div class="col-9">
                                        <br>
                                        <a routerLink="/agentprofile">

                                            <div class="mx-auto">
                                                <h2>Pradosh Vratam</h2>
                                            </div>
                                        </a>
                                        <a routerLink="/agentprofile">

                                            <div class="col-12"><span class="festival-data">During pradosha, Nandi in
                                                    all the Shiva temples in South India is worshipped. The
                                                    festival idol of Shiva with Parvathi in a seated pose on
                                                    Nandi.</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Offers">
                        <ng-template mat-tab-label #ngt1>
                            <span>&nbsp;Offers</span>
                        </ng-template>
                        <div>
                            <div class="card col-12 ">
                                <div class="row">


                                    <div class="col-9">
                                        <br>
                                        <a routerLink="/agentprofile">

                                            <div class=" mx-auto">
                                                <h2>Pradosh Vratam</h2>
                                            </div>
                                        </a>
                                        <a routerLink="/agentprofile">

                                            <div class="col-12"><span class="festival-data">Book pandits in Advance and
                                                    get a luvky trip
                                                    to <b>London</b></span></div>
                                        </a>
                                        <div class="offer-code text-center">
                                            Use: PRADOSH19
                                        </div>
                                    </div>
                                    <div class="col-3" style="height:120px;">
                                        <div><img src="./assets/festival-offer.PNG"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card col-12 ">
                                <div class="row">


                                    <div class="col-9">
                                        <br>
                                        <a routerLink="/agentprofile">

                                            <div class=" mx-auto">
                                                <h2>Kartika Purnima</h2>
                                            </div>
                                        </a>
                                        <a routerLink="/agentprofile">

                                            <div class="col-12"><span class="festival-data">Enjoy your first booking
                                                    absolutely
                                                    <b>FREE</b></span></div>
                                        </a>
                                        <div class="offer-code text-center">
                                            Use: FIRSTPUROHIT
                                        </div>
                                    </div>
                                    <div class="col-3" style="height:120px;">
                                        <div><img src="./assets/festival-offer-free.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="box col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
                <div class="row">
                    <div class="shop-box col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto text-dark">
                        <div class="text-center p-1">
                            <h2>E-Handicrafts Pure Brass Pooja thali Set</h2>
                        </div>
                        <div>
                            <img class="mx-auto img-fluid img-responsive" src="./assets/poojasamagri-deepam.png">
                        </div>
                        <div class="row">
                            <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left text-left">
                                <span>M.R.P:</span><i class="price-drop"><span class="fa fa-rupee fa-lg"></span><span
                                        style="text-decoration: line-through;">&nbsp;600</span></i>
                                <br>
                                <span>Price: </span><span class="fa fa-rupee fa-lg"></span><span>400</span>
                            </div>
                            <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 my-5 text-right">
                                <button class="btn blur">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="shop-box col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto text-dark">
                        <div class="text-center p-1">
                            <h2>PILGRIMAIDE Ganesh Pooja Kit Premium</h2>
                        </div>
                        <div>
                            <img class="mx-auto img-fluid img-responsive" src="./assets/poojasamagri-pack.png">
                        </div>
                        <div class="row">
                            <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left text-left">
                                <span>M.R.P:</span><i class="price-drop"><span class="fa fa-rupee fa-lg"></span><span
                                        style="text-decoration: line-through;">&nbsp;500</span></i>
                                <br>
                                <span>Price: </span><span class="fa fa-rupee fa-lg"></span><span>400</span>
                            </div>
                            <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 my-5 text-right ">
                                <button class="btn blur ">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>