@import "~material-design-icons/iconfont/material-icons.css";
span{
  font-size:16px;
}
.example-margin{
  font-size: 15px;
}
p{
  color:red;
  font-size:16px;
  text-align: center;
}

a:hover{
  text-decoration: none;
}
.count{
  font-family: "Syntax";
  font-size:17px;
  color:black;
  font-weight:500;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;
  }
}

@-webkit-keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;

  }
}
h4{
  padding-top:5px;
  font-family: "Syntax";
  color:rgb(46, 43, 43);
  text-decoration: none;
  font-weight:600;

}
h4:hover{
  text-decoration: none;
  color:rgb(46, 43, 43);
}

.icon-display {
  transform: scale(1.3);
}
.icon-display:focus{
  color:white;
  background-color: azure;
}
.cursor{
  cursor: pointer;
}


.nav-link{
font-size:18px;
color:white;
font-weight:540;
padding:10px 10px;

}

.ss:hover {
  transition: box-shadow .2s;
  box-shadow: 0 0 31px rgba(33,33,33,.8); 
  border: 1px solid #ccc;

}
.fa-rupee{
  font-size:1.5vw;
  font-weight: 550;
  color:rgba(33,33,33,.8);
}
.count1{
  font-family: 'Montserrat';
  font-size:1.5vw;
  font-weight: 600;
  color:rgba(33,33,33,.8);
  padding:0px;
  letter-spacing: 1px;
  text-align:center;
margin-top:20px;
}
.count2{
  font-family:"Syntax";
  font-size:1.9vw;
  font-weight: 600;
  color:rgba(33,33,33,.8);
  padding:0px;
  letter-spacing: 1px;
  text-align:center;
margin-top:20px;
}

p{
  margin:0;
}
.blur{
  -webkit-trasform: translate(-40%, -40%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:-1;
 
}
.nav-item{
  padding: 1px 5px;

}
.nav-link:hover{
background-color: rgba(0,0,0,0.5);
transition: ease-in-out 0.2s;
border-radius: 5px;
}


h2{
  font-family:"Syntax";
}
a{
  text-decoration: none;
}
.offer-code{
  word-break: break-word;
  font-family:"Syntax";
  font-size:18px;
  font-weight: 700;
  color:black;
  letter-spacing: 1px;;
}
.box {
  border-radius: 6px;
  color: white;
}
.shop-box {
  border-radius: 6px;
  color: white;
}
body{
  color:black;
  font-size: 16px;
  font-family:"Syntax";
  overflow-y: hidden;
}
.price-drop{
  color:red;
  font-size: 20px;
  font-family:"Syntax";
  word-spacing: -5px;
}
.blurbtn{
  -webkit-trasform: translate(60%, -60%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:-1;
  color:black;
  border: 3px solid orangered;
  font-weight: 600;
  font-size:18px;
}

.fixed-nav-bar{
  background-image: linear-gradient(orangered,rgba(255, 68, 0, 0.815) );
  border-radius: 0px !important;

}
.fixed-nav-bar2{
  background-image: linear-gradient(rgba(255, 68, 0, 0.815), rgba(238, 65, 2, 0.664));
  margin-top: -20px;
    border-radius: 0px !important;
}
li{
  text-decoration: none;
  font-size: 15px;
  color:white;
  padding: 10px 30px;
  cursor: pointer;
  font-family: Lato,sans-serif!important;
    list-style:none !important;
  font-weight: 600;
    color: #eee2e2;
    letter-spacing: 1px;
    position: relative;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s;
}
li:hover, .active-link{
  background: #f6fcff2d;
  text-decoration: none;
  /* border-left: 15px solid rgb(255, 255, 254); */
  /* border:2px solid rgb(247, 115, 63); */
  transition: 0.18s ease-in;
  padding: 10px 35px;
  outline-width: 0;
  font-size: 15px;
  width:auto;
  align-content: center;
  transition: 0.2s;
  font-family: 'Syntax';
border-radius: 10px;
}
.search{
  width: 100%;
height:36px;
  background:rgb(255, 255, 255);
  border:0px !important;
  color:rgba(0,0,0,0.8) !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.3s;
  outline: none;
  font-size: 18px;
  font-family: "Syntax";
border-radius: 5px 0  0 5px !important;
} 
.search-button{
  justify-content: flex-end;
    border: 0 none;
    background-color: #ffffff;
    height: 36px;
    width: 44px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    outline: none;
    border-radius: 0 5px 5px 0 !important;

}
.form-control{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 16px;
  height: 45px;
  font-weight: 530;
}