@import "~material-design-icons/iconfont/material-icons.css";
span{
  font-size:16px;
}
.example-margin{
  font-size: 15px;
}
p{
  color:red;
  font-size:16px;
  text-align: center;
}

a{
  font-size:16px;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor:pointer;
}
i{
  cursor: pointer;
  color:white;
}
// .card {

//   width: 320px;
//   height: 28vh;
//   border-radius: 1px;
//   color: #aaa;
//   overflow: hidden;
  
// }
.count{
  font-family:sans-serif;
  font-size:17px;
  color:black;
  font-weight:500;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;
  }
}

@-webkit-keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;

  }
}
h4{
  padding-top:5px;
  font-family:sans-serif;
  color:rgb(46, 43, 43);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:600;

}
h4:hover{
  text-decoration: none;
  color:rgb(46, 43, 43);
}
body{
  font-family:sans-serif;
}
.input{
color:white;
width:550px;
}
.icon-display {
  transform: scale(1.3);
}
.icon-display:focus{
  color:white;
  background-color: azure;
}
.cursor{
  cursor: pointer;
}

input{
  // -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    // text-align: center;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding:2px;
    // width:600px;
    border-radius:4px;
    outline:none;
    box-shadow: 2px black;
}
.nav-link,a{
font-size:18px;
color:white;
font-weight:540;
padding:10px 10px;

}

.ss:hover {
  transition: box-shadow .2s;
  box-shadow: 0 0 31px rgba(33,33,33,.8); 
  border: 1px solid #ccc;

}
.count1{
  font-family:'Montserrat';
  font-size:19px;
  font-weight: 600;
  color:rgba(33,33,33,.9);
  padding:0px;
  letter-spacing: 1px;
  text-align:center;
margin-top:20px;
}
.count2{
  font-family:'Montserrat';
  font-size:19px;
  // font-weight: 600;
  color:rgba(33,33,33,.9);
  padding:0px;
  letter-spacing: 2px;
  font-weight: 250;
  text-align:center;
  margin-top: -20px;
}
p{
  margin:0;
}
.blur{
  -webkit-trasform: translate(-40%, -40%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background:rgba(0,0,0,0.4);
  z-index:-1;
 
}
code:hover{
  cursor: pointer;
}
.nav-item{
  padding: 1px 5px;

}
.nav-link:hover{
background-color: rgba(0,0,0,0.5);
transition: ease-in-out 0.2s;
border-radius: 5px;
}


h2{
 font-family:'Verdana,Geneva,Arial,"Comic Sans MS","Book Antiqua",sans-serif';
}
a{
  text-decoration: none;
}
.offer-code{
  word-break: break-word;
  font-family: 'Montserrat';
  font-size:18px;
  font-weight: 700;
  color:black;
  letter-spacing: 1px;;
}
.box {
  border-radius: 6px;
  color: white;
}
.shop-box {
  border-radius: 6px;
  color: white;
}
body{
  color:black;
  font-size: 18px;
  font-family: "Amazon Ember",Arial,sans-serif;
}
.price-drop{
  color:red;
  font-size: 20px;
  font-family: "Amazon Ember",Arial,sans-serif;
  word-spacing: -5px;
}
.blurbtn{
  -webkit-trasform: translate(60%, -60%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:-1;
  color:black;
  border: 3px solid orangered;
  font-weight: 600;
  font-size:18px;
  // -webkit-filter:blur(10px);
  // -moz-filter: blur(10px);
}
.search{
  border-radius: 10px;
}

