@import "~material-design-icons/iconfont/material-icons.css";
span{
  font-size:16px;
}
.example-margin{
  font-size: 15px;
}
p{
  color:red;
  font-size:16px;
  text-align: center;
}
.count{
  font-family: "Syntax";
  font-size:17px;
  color:black;
  font-weight:500;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;
  }
}

@-webkit-keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 10s;
  }
}
.icon-display {
  transform: scale(1.3);
}
.icon-display:focus{
  color:white;
  background-color: azure;
}
.cursor{
  cursor: pointer;
}
.fa-rupee{
  font-size:1.5vw;
  font-weight: 550;
  color:rgba(33,33,33,.8);
}
.count1{
  font-family: 'Montserrat';
  font-size:1.5vw;
  font-weight: 600;
  color:rgba(33,33,33,.8);
  padding:0px;
  letter-spacing: 1px;
  text-align:center;
margin-top:20px;
}
.count2{
  font-family:"Syntax";
  font-size:1.9vw;
  font-weight: 600;
  color:rgba(33,33,33,.8);
  padding:0px;
  letter-spacing: 1px;
  text-align:center;
margin-top:20px;
}

p{
  margin:0;
}
// .blur{
//   -webkit-trasform: translate(-40%, -40%);
//   -moz-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   -o-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   z-index:-1;
// }

h2{
  font-family:"Syntax";
}

.offer-code{
  word-break: break-word;
  font-family:"Syntax";
  font-size:18px;
  font-weight: 700;
  color:black;
  letter-spacing: 1px;;
}
.box {
  border-radius: 6px;
  color: white;
}

body{
  color:black;
  font-family:"Syntax";
  overflow-y: hidden;
}
.price-drop{
  color:red;
  font-size: 20px;
  font-family:"Syntax";
  word-spacing: -5px;
}


.login{
  color:rgb(51, 49, 49);
  font-weight: 540;
  font-size:17px;
  font-family: inherit;
  cursor: pointer;
}
.login:hover{
  color:orangered;
}

.form-control{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 16px;
  height: 45px;
  font-weight: 530;
}
.signIn, .register, .sendOtp, .resendOtp, .submitOtp{
  border-radius: 5px;
  padding:10px 20px;
  font-size:15px;
}
.footer-text{
  font-size: 17px;
  font-family: "Syntax";
  color:white;
  letter-spacing: 1px;

}
.address-link{
  font-size: 17px;
  font-family: "Syntax" !important;
  color:white;
  border: 0;
  overflow: visible;
  padding: 3px 0;
  font-weight: 400;
}
.address-link:hover{
  font-size: 17px;
  font-family: "Syntax" !important;
  color:white;
  border: 0;
  overflow: visible;
  padding: 3px 0;
  background-color: transparent;
  cursor: text;
}

.fa:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius:35px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius:35px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius:35px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius:35px;
}
.fa-phone, .fa-envelope{
  border-radius: 0px;
  color:#efaf4e;
  text-align:left ;
  padding: 1px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.3);
  padding:18px;
  border-radius: 50%;
}
.contactHeader{
  font-size: 30px;
  font-family: "Syntax";
  color:rgb(46, 45, 45);
}
.contactsubmitButton{
  border-radius: 3px;
  border: 0;
  outline: 0;
}
.modal-title-menu{
  color:white;
  font-weight: 600;
  font-size:16px;
}
.modal-title-menu:hover{
  color:white;
  opacity: 1;
  cursor: pointer;
}

.forgot-text-link {
  color: #0054b5;
}
.forgot-text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.textarea{
  height: 100px;
}
.navbar-brand{
width:80%;
height:20%;
}
.layer1{
  background: #f3ac42;
}

.location, .callNumbers, .emailSupport{
  font-family: "Syntax";
  font-size: 18px;
}
.secondlayer{
  margin-top:-15px;
}
.nav-item{
  display: inline;
  padding:0 15px;
  font-size:16px;
  font-family: inherit;
  font-weight: 540;
  cursor: pointer;
}
.nav-item:hover{
  color:orangered;
}

.carousel{
  margin-top: -20px;
}
.whoweare{
  color:rgb(32, 32, 32);
  font-size: 18px;
  font-family: "Syntax";
  letter-spacing: 0.5px;
}