th {
  font-size:19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-spacing: 2px;
  line-clamp: inherit;
  font-weight: 550;
}
td {
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
word-spacing: 2px;
line-clamp: inherit;
font-size: 16px;
word-wrap: break-word;
white-space: nowrap;
}


.form{
  width: 100%;
  padding: 15px;
  background:rgba(121, 128, 120, 0.301);
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:black !important;
  font-size:16px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.2s;   
  font-family: "sans-serif";
  font-size: 16px;


}
.form-control{
  width: 100%;
  height:48px;
  padding: 15px;
  background:rgb(255, 255, 255);
  border:1px solid rgba(0, 0, 0, 0.075);
  color:black !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.3s;
  outline: none;
  font-size: 16px;


} 

.form-control-search{
  width: 100%;
height:33px;
  background:rgb(255, 255, 255);
  border:1px solid rgba(0, 0, 0, 0.075);
  color:black !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.3s;
  outline: none;
  font-size: 16px;


} 

.textarea{
  height: 400px;
  max-width: 100%;
  font-family: "sans-serif";

}

span {
  font-size:30px;
  transition: .3s ease-in;

}
:disabled {
  background-color: rgb(138, 135, 135);
}
button{
  background-color: orangered;
  opacity:0.9;
  color:white;
  font-size: 16px;
  font-family: "sans-serif";


}
button:hover{
  color:white;
  font-size: 16px;
  font-family: "sans-serif";

}
label{
  font-size: 18px;
  font-family:'sans-serif';
  font-weight: 500;

}

select{
  width:230px;
  height:30px;
  outline:none;
  font-size: 18px;
  z-index: 1;
  font-family: "sans-serif";

}
*{
  font-size:16px;
}
span:hover{
  cursor: pointer;
}
