
<div class="modal mx-auto" id="exampleModalCenter2" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="exampleModalLongTitle">Update Details</h1>
      <span type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span style="color:orangered;" (click)="f.reset();">&times;</span>
      </span>
    </div>
    <div class="modal-body">
      <form [formGroup]="f" (ngSubmit)="actup(f.value);f.reset();">
        <div class="col-12 wow animated slideInLeft form-group" data-wow-delay=".5s">
          <div class="form-group">
            <label>Cost</label>
            <input name="cost" formControlName="cost" class="form" placeholder="Cost" type="text" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && formadd.get('cost').errors}">
            <div *ngIf="(submitted && formadd.get('cost').errors) || formadd.get('cost').touched"
              class="invalid-feedback">
              <p *ngIf="formadd.get('cost').errors.required">Number is required</p>
              <p *ngIf="formadd.get('cost').errors.pattern">This is a Invalid input</p>
            </div>
          </div>
          <div class="form-group">
            <label>Duration</label>
            <input name="duration" formControlName="duration" class="form" placeholder="Duration in hours" type="text"
              autocomplete="off" [ngClass]="{ 'is-invalid': submitted &&formadd.get('duration').errors}">
            <div *ngIf="(submitted && formadd.get('duration').errors) || formadd.get('duration').touched"
              class="invalid-feedback">
              <p *ngIf="formadd.get('duration').errors.required">Number is required</p>
              <p *ngIf="formadd.get('duration').errors.pattern">Minimum 1 hour, Maximum 9-9-9 hours only</p>
            </div>
          </div>
          <div class="form-group">
            <input name="duration" formControlName="service_id" class="form-control" placeholder="Service ID"
              type="text" autocomplete="off" disabled
              [ngClass]="{ 'is-invalid': submitted &&formadd.get('duration').errors}">

          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" formControlName="description" class="form" autocomplete="off"
              placeholder="Description"
              [ngClass]="{ 'is-invalid': submitted && formadd.get('description').errors}"></textarea>
            <div *ngIf="(submitted && formadd.get('description').errors) || formadd.get('description').touched"
              class="invalid-feedback">
              <p *ngIf="formadd.get('description').errors.required">Tell me something about your Pooja</p>
            </div>
          </div>

          <div class="form-group">
            <label>No of Pandits</label>
            <input name="noofpandits" formControlName="noofpandits" class="form" placeholder="No Of Pandits"
              type="text" autocomplete="off"
              [ngClass]="{ 'is-invalid':submitted && formadd.get('noofpandits').errors}">
            <!-- <p>{{formadd.touched}}</p> -->
            <div *ngIf="(submitted && formadd.get('noofpandits').errors) || formadd.get('noofpandits').touched"
              class="invalid-feedback">
              <p *ngIf="formadd.get('noofpandits').errors.required">Number is required</p>
              <p *ngIf="formadd.get('noofpandits').errors.pattern">Minimum 1 hour, Maximum 9-9-9 pandits can be booked
              </p>
            </div>
          </div>
          <div class="form-group">
            <label>Pooja Category</label>
            <select class="form" formControlName="category_id"
              [ngClass]="{ 'is-invalid': submitted && formadd.get('category_id').errors}">
              <option disabled> Choose your Pooja Category</option>
              <option *ngFor="let a of result" [ngValue]="a.category_id">{{a.catname}}</option>
            </select>
            <div *ngIf="submitted && formadd.get('category_id').errors">
              <p *ngIf="submitted && formadd.get('category_id').errors.required" style="color:red;font-size:15px;">
                Category is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Samagri</label>
            <textarea name="samagri" formControlName="samagri" class="form" placeholder="Pooja Samagri" type="text"
              autocomplete="off" [ngClass]="{ 'is-invalid': submitted && formadd.get('samagri').errors}"></textarea>
            <div *ngIf="(submitted && formadd.get('samagri').errors) || formadd.get('samagri').touched"
              class="invalid-feedback">
              <p *ngIf="formadd.get('samagri').errors.required">Tell me what samagri is needed</p>
            </div>
          </div>
        </div>
        <div class="form-group btn-container col-5 float-right">

          <button type="submit" mdbBtn mdbWavesEffect name="submit">Save changes</button>
          <button mdbBtn mdbWavesEffect class="btn" data-dismiss="modal" (click)="f.reset()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<input type="search" [(ngModel)]="term">

<div class="table-responsive">
    <table class="table table-hover table-bordered" id="my-table">
      <thead>
        <tr>
          <th scope="col">Category_id</th>
          <th scope="col">Service_id</th>
          <th scope="col">Pandits</th>
          <th scope="col">Cost</th>
          <th scope="col">Duration</th>
          <th scope="col">Samagri</th>
          <th scope="col">Description</th>
          <th scope="col">Update</th>
        </tr>
      </thead>

      <tbody>
        <tr (click)="funs(a)" data-toggle="modal"
        data-target="#exampleModalCenter2 " *ngFor="let a of res | filter:term | paginate: { itemsPerPage: page, currentPage: p }">
          <td scope="row">{{a.category_id}}</td>
          <td scope="row">{{a.service_id}}</td>
          <td scope="row">{{a.noofpandits}}</td>
          <td scope="row">{{a.cost}}</td>
          <td scope="row">{{a.duration}}</td>
          <td scope="row">{{a.samagri}}</td>
          <td scope="row">{{a.description}}</td>
          <td><span title="update"  class="fa fa-pencil-square-o"></span></td>
        </tr>
      </tbody>
    </table>

  </div>