@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 th {
   text-align: inherit;
 } 

 textarea {
   overflow: auto;
   resize: vertical;
 }
 .app-nav, .app-menu, .treeview-menu {
   padding-left: 0;
   list-style: none;
 }
 

 .btn {
   cursor: pointer;
 }
 .ngx-pagination .current {
   padding: 0.1875rem 0.625rem;
   background: #835e0f !important;
   color: #fefefe;
   cursor: default;
 }

  .swal-height {
    height: 20vh;
    border:5px solid black;
  }
  a{
    text-decoration: none;
  }
  table{
   margin-top: -10px;
  }
  .swal-height2 {
    height: 50vh;
    width:50vh;
    border:5px solid black;
  }
  html {
    overflow: scroll;
    overflow-x: scroll;
    }
    ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */

    }