@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 th {
   text-align: inherit;
 } 

 textarea {
   overflow: auto;
   resize: vertical;
 }
 
 .ngx-pagination .current {
   padding: 0.1875rem 0.625rem;
   background-image: linear-gradient(rgb(255, 68, 0), rgba(255, 74, 8, 0.795) ) !important;
   border-radius: 25px;
   color: white;
   cursor: default;
 }

  .swal-height {
    height: 30vh;
    border:5px solid black;
    font-size: 1.6rem !important;

  }
  a{
    text-decoration: none;
  }
  table{
   margin-top: -10px;
  }
html::-webkit-scrollbar {
   width:0px;
}