<div style="background-color: #e7da80;">
    <div class="col-8 mx-auto bg-success">
            <div class="col-12 my-5 mx-auto">
                <label class="hoverable" for="fileInput">
                    <img class="img img-fluid" [src]="url ? url :'./assets/purohitdefaulticon.png'">
                    <div class="hover-text bg-transparent text-dark">
                        Upload&nbsp;Image
                    </div>
                </label>
                <br />
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
            </div>
            <div class="col-12 my-auto">
                <h1>{{fname}} &nbsp; {{lname}}</h1>
                <h3>Purohit</h3>
            </div>
        </div>
</div>